.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.swal2-container {
  z-index: 20000 !important;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.product:hover {
  transform: scale(1.05);
  transition: 0.1s ease-in-out;
  box-shadow: 5px 6px 5px 0px rgba(0,0,0,0.75);
}
.product img:hover{
  cursor: pointer;
}
.toProduct {
  text-decoration: none;
  color: #ffffff;
}
.imgProd, .swiper{
  max-height: 300px;
}
.firstBox {
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 15px 0;
}
.secondBox {
  margin: 15px 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
@media(max-width:520px){
  .displayIconsProd {
    display: flex !important;
  }
  .displayTextProd {
    display: none !important;
  }
}
.swiper {
  margin-right: 0px !important;
}
@media(min-width:992px){
  .imgProd, .swiper{
    max-height: 400px;
  }
  
}
.swiper-slide img:hover{
  cursor: pointer;
}

/*===========================
MP
===========================*/
#form-checkout {
  display: flex;
  flex-wrap: wrap;
  /*flex-direction: column;*/
  /*max-width: 600px;*/
}
.containerMp {
  background-color: #343434;
  color: rgb(255, 255, 255);
  font-size: 16px;
  height: 30px;
  width: 100%;
  display: inline-block;
  border: 1px solid rgb(118, 118, 118);
  border-radius: 5px;
  padding: 1px 2px;
}
.buttonMp {
  background-color: #006cb0;
  color: #ffffff;
  font-size: 16px;
  height: 30px;
  width: 100%;
  border: 1px solid #006cb0;
  border-radius: 5px;
  padding: 1px 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.buttonMp:hover {
  cursor: pointer;
  background-color: #005d96;
}
.mrMP {
  margin-right: 5px;
}
/*===========================
MENU
============================*/
.catBreadcrumb{
  color: #ffffff;
  text-decoration: none;
}
.catBreadcrumb:hover {
  text-decoration: underline;
}
@media(max-width:599px){
  .containerProds {
    display: flex;
    justify-content: center;
  }
}